.app{
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin:20px;
  }
  
  .primary {
    margin: 0 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .primary:hover {
    background-color: #0056b3;
  }
  
  .primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
  }
  
  .feed{
    overflow:auto;
    height:400px;
    width:90%;
  }
  .outer {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .outer h2 {
    margin-top: 0;
    font-family:'Roboto', sans-serif; ;
  }
  
  
  
